    - name: Build Release APK
      run: ./gradlew assembleRelease

    # --- ДОБАВЬ ЭТОТ БЛОК ---
    - name: Sign APK
      uses: r0adkll/sign-android-release@v1
      id: sign_app
      with:
        releaseDirectory: app/build/outputs/apk/release
        signingKeyBase64: ${{ secrets.SIGNING_KEY }}
        alias: ${{ secrets.ALIAS }}
        keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}
    # ------------------------

    - name: Upload Release APK artifact
      uses: actions/upload-artifact@v4
      with:
        name: app-release-apk
        # ИЗМЕНИ ПУТЬ ТУТ, чтобы загружался именно ПОДПИСАННЫЙ файл
        path: ${{ steps.sign_app.outputs.signedReleaseFile }}
